/*
* Landing Page - Practice
* CSS Styles
* http://www.idg.net.ua/blog/uchebnik-css/ispolzovanie-css/praktika-delaem-landing-page
*
*/


/* General */
body {
    font-family: Raleway, Arial, Helvetica, sans-serif; /* кроме Raleway добавьте
                                                         * несколько запасных шрифтов */
}
p {
    font-size: 14px;
    color: #999;
    line-height: 1.6;
}
h1 {
    font-size: 40px;
    color: #fff;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 26px;
}
h2, h3 {
    color: #282828;


/* Header */



/* Services */



/* Blog */



/* Footer */


