{% extends "../particials/layout_en.njk" %}

{% block pageTitle %}
  Personal information
{% endblock %}

{% set current_page_path = "/information.yves_guillemot" %}

{% block content %}
  <div class="speakers-list">
    <div class="speaker">
       <img src="/img/Yves Guillemot.webp" alt="Yves Guillemot" class="speaker__photo">
    <div class="speaker__info">
          <h3 id="a5" class="speaker__name">
          <a href="/en/information.yves_guillemot">Yves Guillemot</a>
        </h3>
        <p class="speaker__bio">
         Yves Guillemot is the CEO of Ubisoft. Yves Guillemot was born in 1960 in Britain, graduated from the French Institute of Small and Medium-sized Enterprises with a degree in management.
         He started his career in a family company that supplies computer equipment. In 1985, together with his brothers, he founded a video game delivery company.
         In 1986, the brothers commissioned Yves to create and lead Ubisoft, which would develop computer games.

         Yves was fired up by this idea. After completing his business studies, Yves, along with his four brothers, began playing video games, and in 1986, at the age of 26, he founded Ubisoft Entertainment.
         At that time, Ubisoft was a third-party publishing company for the distribution of games. Between 1989 and 1990, Yves founded the first subsidiaries outside of France, first in the United Kingdom, and then in the United States and Germany,
         three countries that represented the largest video game market in the west. In 1994, the first integrated production studio was opened in France, aimed at producing high-quality games on a limited time scale.
         In 1996, the company was listed on the Paris Stock Exchange, and two main production studios opened in Shanghai and Montreal.
        </p>
        <p class="speaker__bio">
         In July 2000, Ubisoft, still looking to expand, bought out Red Storm Entertainment, a game publisher licensed by Tom Clancy. In 2000, Yves became the chief production and distribution manager of Ubisoft.
         He currently heads Ubisoft, a company with more than 6,000 employees that has become one of the world leaders in the video game business.
         The turnover for 1999-2000 exceeded one billion US dollars.

         Since then, a large number of successful franchises have been released under the leadership of Yves Guillemot,including: Splinter Cell, Assassin's Creed, Far Cry, Ghost Recon, Rainbow Six, Rayman, Watch Dogs, The Divison,
         Call of Juarez, The Crew, etc. The president of Sony Computer Entertainment Europe, Jim Ryan, describes Guillemot as follows: a fair, good, but tough person who is difficult to deal with.
         It is not very easy to run a French company that operates on the global market, Ryan notes: the French are a very creative nation both in music and in cinema, but what they produce does not go well on the world market.
         And 90% of Ubisoft's revenue is provided by foreign markets. And this is the best evidence of the success of Guillemot.
        </p>
        </div>
      </div>
     </div>
{% endblock %}
