{% extends "../particials/layout_en.njk" %}

{% block pageTitle %}
  Personal page
{% endblock %}

{% set current_page_path = "/personal-page" %}

{% block content %}
  <div class="personal-page"></div>
  <div class="personal-info">
    <p class="personal-info__text">
    "ICTTW is an amazing future for technical
     conferences” (with) Dmitry Zhuravlev 
    </p>
  </div>
{% endblock %}


