{% extends "../particials/layout.njk" %}

{% block pageTitle %}
 Personal information
{% endblock %}

{% block content %}
  <div class="information-page">
      <div class="information-page__col">
        <p class="information-page__text">
          Jensen Huang was born on February 17, 1963 . Jensen is an American entrepreneur of Taiwanese origin, co-founder, president and CEO of NVIDIA.
          When Huang was 6 years old, his family moved to Bangkok (Thailand). In the late 1960s, after a trip to New York as part of a professional development program, his father decided to send his children to the United States.
          In 1972, 9-year-old Jensen and his 10-year-old older brother moved to live with an uncle and aunt in Tacoma, Washington.
          Relatives sent the brothers to the Oneida Baptist Boarding School in eastern Kentucky, and later the Huang family was reunited in Oregon, where Jensen graduated from Aloha High School located in Beaverton.
          In high school, Huang became interested in computer technology and continued his studies at the University of Oregon, where he studied computer science and integrated circuit design.
          After receiving a bachelor's degree in electrical Engineering in 1984, Huang began his career at Advanced Micro Devices (AMD) as a chip designer.
          From AMD, he moved to LSI Logic Corporation, where he worked in various positions until 1993.
          In particular, Huang headed the Coreware division of LSI Logic, which was responsible for the development of systems-on-chip technology.
          
          In 1992, Huang received a master's degree in electrical engineering from Stanford University.
          In 1993, Huang, along with his friends Chris Malachowski and Curtis Prem, who worked as engineers at Sun Microsystems, founded their own company Nvidia with a start-up capital of 40 thousand dollars.
          Since April 1993, Huang has occupied the positions of president and Chief Executive Officer in the newly formed company and joined the board of directors.
          The company focused on the graphics processor (GPU) market, attracted investments from Sequoia Capital and Sutter Hill Ventures, and in 1995 entered the market with the NV1 multimedia card.
          The first product was commercially unsuccessful, but NVIDIA continued to develop, in 1997 introduced the successful RIVA 128, and then in 1999 — GeForce 256. If in 1996 about 30 companies competed in the graphics accelerator market, then in the first half of the 2000s a duopoly of NVIDIA and the Canadian company ATI was formed.
          In the second half of the decade after sales ATI company Advanced Micro Devices, NVIDIA has established itself as a leader and in 2018, has retained its status as the world's largest manufacturer of discrete graphics market share at 74.3 %.
          In 2006, NVIDIA introduced the software and hardware architecture for parallel computing on GPUs CUDA, which was the most fully embodied in the compute accelerators Tesla.
        </p>
        <p class="information-page__text">
        For 2018, Tesla was implemented in 127 of the 500 supercomputers included in the rating of the fastest devices of this type Top500.
        Under Huang's leadership, NVIDIA focuses on four main markets: gaming solutions, professional visualization, data center solutions and the automotive market.
        In recent years, the artificial intelligence market has become an important focus for the company.

        Since 2014, AMD has been headed by Lisa Su, Huang's great-niece.
        As of September 2020, Forbes estimated Huang's fortune at $ 11.6 billion. According to the magazine, he was ranked 361st in the ranking of billionaires in 2020,
        51st in the list of the richest Americans "Forbes 400" in 2020 and 61st in the list of the richest representatives of the technology industry for 2020.
        From Nvidia's annual report for 2016, it follows that Huang directly and indirectly, personally and jointly with his wife, owns 4.02 % of the company's capital.
        His remuneration as president and chief executive officer of Nvidia for 2017 amounted to 996 thousand dollars, bonuses — about 11.2 million dollars.
        </p>
      </div>
    <div class="information-page__col">
      <img src="/img/Jensen Huang2.webp" width="680px" height="500px" class="information-page__photo">
      <div class="social-buttons">
        <a href="#"><img src="/img/photo4.webp" class="social-buttons__icon"></a>
        <a href="#"><img src="/img/photo5.webp" class="social-buttons__icon"></a>
        <a href="#"><img src="/img/photo6.webp" class="social-buttons__icon"></a>
      </div>
    </div>
    </div>
{% endblock %}
