{% extends "../particials/layout_en.njk" %}

{% block pageTitle %}
  Modern technologies for everyone
{% endblock %}

{% set current_page_path = "/technologies" %}

{% block content %}
  <div class="technologies">
    <div class="technologies__dark-col">
      <h1 class="technologies__text technologies__text_left">
        Modern<br>technologies
      </h1>
    </div>
    <div class="technologies__light-col">
      <h2 class="technologies__text technologies__text_right">
        For<br>everyone
      </h2>
      <div class="technologies__spacer"></div>
      <p class="technologies__text-line">
        Have time to sign up for
        The ICTTW conference,
        to hear the reports
        the world's best speakers are the first!
      </p>
      <a href="#" class="technologies__button">
       Registration
      </a>
    </div>
  </div>
{% endblock %}
