{% extends "../particials/layout.njk" %}

{% block pageTitle %}
 Personal information
{% endblock %}

{% block content %}
  <div class="information-page">
    <div class="information-page__col">
      <p class="information-page__text">
      William Henry Gates III born October 28, 1955, Seattle, Washington, better known as Bill Gates is an American entrepreneur and public figure, philanthropist, one of the founders (together with Paul Allen)
      and the former largest shareholder of Microsoft. Until June 2008, he was the head of the company;
      after leaving the post, he remained as its non-executive chairman of the board of directors.
      He is also co-chairman of the Bill and Melinda Gates Charitable Foundation, a member of the Board of Directors of Berkshire Hathaway, CEO of Cascade investment.
      In the period from 1996 to 2007, from 2009 to 2016, he was the richest person on the planet according to Forbes magazine.
      As of November 10, 2020, Bill Gates ' fortune is estimated at $ 119.1 billion.
      
      He ranks second in the ranking of the richest people on the planet, behind Amazon founder Jeff Bezos.
      Bill Gates is one of the record holders in terms of the amount of funds donated to charity: in the period from 1994 to 2010, he invested more than $ 28 billion in the Bill and Melinda Gates Foundation.
      In 2010, Gates signed the "Gift Oath" and made a proposal to all billionaires to transfer half of their fortunes to charity.
      Bill's great-grandfather was a mayor and senator, his grandfather was a vice-president of the National Bank.
      Gates was born in Seattle, Washington, the son of William Henry Gates II, a corporate lawyer, and Mary Maxwell Gates, a member of the board of directors of First Interstate Bank, Pacific Northwest Bell
      and the national board of USWest, United Way. In the family, Bill has the nickname Trey (the word "trey" means a three in card games and is associated with the "numbered" prefix to the name).
      Gates has 2 sisters: The eldest is Christy and the youngest is Libby. Gates studied at the most privileged school in Seattle, "Lakeside",
      where he was able to develop his programming skills on the school mini-computer
      </p>
      <p class="information-page__text">
       Then I was fifteen or sixteen years old..." At the age of 17, Gates, Paul Allen and Paul Gilbert founded the company Traf-O-Data.
       The name was coined by Gates from "jack-o' - lantern " -a pumpkin lantern. The company's goal was to create meters for reading traffic
       and making reports for road engineers. The Traf-O-Data device was sold from 1972 to 1982.
       Gates and Allen earned $ 20,000 on this project. December 25, 1972 (Christmas) Bud Pembroke, the one who invited Bill and went to work for Information Service Inc.,
       I invited them to work for the company TRW. A large software project was being started for the Bonneville Power Department, where the PDP-10 was used.
      </p>
    </div>
    <div class="information-page__col">
      <img src="/img/Bill Gates2.webp" width="680px" height="500px" class="information-page__photo">
      <div class="social-buttons">
        <a href="#"><img src="/img/photo4.webp" class="social-buttons__icon"></a>
        <a href="#"><img src="/img/photo5.webp" class="social-buttons__icon"></a>
        <a href="#"><img src="/img/photo6.webp" class="social-buttons__icon"></a>
      </div>
    </div>
  </div>
{% endblock %}
