{% extends "../particials/layout_en.njk" %}

{% block pageTitle %}
  Personal information
{% endblock %}

{% set current_page_path = "/information.gordon_moore" %}

{% block content %}
 <div class="speakers-list">
    <div class="speaker">
      <img src="/img/Gordon Moore.webp" alt="Gordon Moore" class="speaker__photo">
        <div class="speaker__info">
           <h3 id="a4" class="speaker__name">
           <a href="/en/information.gordon_moore">Gordon Moore</a>
        </h3>
        <p class="speaker__bio">
         Gordon Earl Moore-Honorary Chairman of the Board of Directors and founder of Intel Corporation, the founder of"Moore's Law". Gordon Moore was born in Pescadero, California, the son of a county sheriff's deputy.
         In his first and second years, Moore studied at San Jose State University, where he met his future wife Betty. In 1950, he received a bachelor's degree in chemistry from the University of California, Berkeley in California.
         In 1954, he received a doctorate in chemistry and physics from the California Institute of Technology. Since 1953, he worked in the Laboratory of Applied Physics at Johns Hopkins University.
         Since 1956, he worked at the Shockley Semiconductor Laboratory in Palo Alto, California, under the supervision of William Shockley. In September 1957, Moore and seven other talented engineers (the Treacherous Eight) quit Shockley Semiconductor Laboratory due to disagreements with Shockley and founded their own company, Fairchild Semiconductor, to work with silicon transistors in Mountain View, California.
         Since 1957, he worked at Fairchild Semiconductors as the head of the engineering department, and since 1959, Moore became the director of R&D and leads the group for the development of the n-p-n transistor.
          
         In July 1968, Moore and Robert Noyce left Fairchild Semiconductors and became the founders of Intel Corporation.
         At first, Moore served as executive vice president. In 1975, he was appointed president and Chief Executive Officer of Intel.
         He held these positions until April 1979, when he was elected chairman of the board of Directors and Chief Executive Officer of the corporation.
         Gordon Moore remained as the chief executive officer of the corporation until 1987, and in 1997, due to reaching retirement age, he was awarded the title of honorary chairman of the board of Directors.
         On April 19, 1965, he derived and published the so-called "Moore's law", according to which the number of transistors in a microprocessor chip doubles every year.
         In 1975, he changed the time component of the law and announced that the number of transistors would double every two years.
        </p>
        <p class="speaker__bio">
         Initially derived as a rule of thumb, Moore's law eventually became the fundamental principle of the semiconductor industry, determining the creation of increasingly powerful semiconductor chips with an increasingly low cost.
         Gordon Moore is a member of the American Academy of Arts and Sciences (1990), the American Association for the Advancement of Science (2003), the American Philosophical Society (2005), the US National Academy of Engineering, an honorary member of the Institute of Electrical and Electronics Engineers, Chairman of the Board of Trustees of the California Institute of Technology.
         In 1990, he was awarded the National Medal for Achievements in the field of Technology. In 2001, Moore and his wife donated $600 million to the California Institute of Technology, the largest gift ever made to a higher education institution.
         Gordon Moore wished that the gift would be used to keep the institute at the forefront of research and technology.
         In 2002, he was awarded the Presidential Medal of Freedom by George Bush, the highest award for civilians.  

         Gordon Moore was awarded the IEEE Medal of Honor in 2008 for "pioneering technical functions in integrated circuit processing and leadership in the development of MOSFETs, microprocessors and computers in the semiconductor industry."
         Moore was featured in the documentary Something Ventured, which premiered in 2011.
         The library at the Center for Mathematical Sciences at the University of Cambridge is named after him and his wife Betty.
        </p>
        </div>
        </div>
        </div>
{% endblock %}
