{% extends "../particials/layout.njk" %}

{% block content %}
  <div class="technologies">
    <div class="technologies__dark-col">
      <h1 class="technologies__text technologies__text_left">
        Современные<br>технологии
      </h1>
    </div>
    <div class="technologies__light-col">
      <h2 class="technologies__text technologies__text_right">
        Для<br>Всех
      </h2>
      <div class="technologies__spacer"></div>
      <p class="technologies__text-line">
        Успей записаться на 
        конференцию ICTTW,
        чтобы услышать доклады 
        лучших мировых спикеров первым!
      </p>
      <a href="#" class="technologies__button">
        Регистрация
      </a>
    </div>
  </div>
{% endblock %}
