{% extends "../particials/layout_en.njk" %}

{% block pageTitle %}
  Personal information
{% endblock %}

{% set current_page_path = "/information.paull_allen" %}

{% block content %}
 <div class="speakers-list">
    <div class="speaker">
     <img src="/img/Paul Allen.webp" alt="Paul Allen" class="speaker__photo">
    <div class="speaker__info">
          <h3 id="a3"  class="speaker__name">
          <a href="/en/information.paull_allen">Paul Allen</a>
        </h3>
      <p class="speaker__bio">
        Paul Gardner Allen (January 21, 1953, Seattle, Washington, USA-October 15, 2018, Seattle) was an American entrepreneur,
        co-founder of Microsoft Corporation, which he and his school friend Bill Gates founded in 1975.
        Allen's capital in 2018 was $20.3 billion. Allen was born in the family of Edna Faye Gardner, a teacher, and Kenneth Allen, a military man,
        who has worked as an assistant director of the University of Washington Library complex since 1960.

        The parents used a soft parenting style. Paul learned to read before school, since childhood he loved technology.
        In the fourth grade, he seriously studied chemistry, in the sixth — electronics. In 1965, after the sixth grade, Paul entered the most privileged school in Seattle, "Lakeside".
        Soon, not far from Allen's house, Computer Center Corporation was recruiting people to test a PDP-10 computer manufactured by Digital Equipment Corporation.
        He and his friends from school spent all their free time there. Later, Information Service Inc. ordered Paul and three of his friends to develop a payroll calculation program in the Cobol programming language;
        in return, they received free working time on the PDP-10. They called their company Lakeside Programming Group, but they could not complete the work.
      </p>
      <p class="speaker__bio">
          Later, when Paul Allen was in college, Bill (Gates) got a job processing information from a company that studies traffic flows.
          To develop the hardware, a third partner was needed — Paul Gilbert, his association and a device for reading road traffic and compiling a report for road engineers,
          they called it Traf-O-Data. The name was coined by Gates from "jack-o' - lantern " -a pumpkin lantern. To develop a program for Intel 8008, we had to emulate it on a more powerful IBM 360 computer.
          December 25, 1972

          Bud Pembroke, who invited Paul and Bill to work for Information Service Inc., invited them to work at TRW,
          where a large software project was being developed for the Bonneville Energy Department. The Traf-O-Data device was sold from 1972 to 1982, and as a result, $794.31 remained on the company's account. In 1974.
          Allen dropped out of college and got a job at Honeywell.
      </p>
    </div>
    </div>
{% endblock %}
