.partners {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 42%;
  row-gap: 80px;
  background: #000;
  padding: 50px 21%;

  .mobile({
    min-height: 100vh;
    height: auto;
    grid-template-columns: 1fr;
    row-gap: 40px;
  });

  &__logo {
    width: 100%;
    height: auto;
  }
}
