.speaker {
  display: flex;
  flex-direction: row;
  width: 100%;

  .mobile({
    flex-direction: column;
    margin-bottom: 80px;
  });

  &:not(:last-child) {
    .desktop({
      margin-bottom: 48px;
    });
  }
  
  &__photo {
    width: 200px;
    height: 230px;
    margin: 80px 20px 20px 20px;
    border-radius: 5%;

    .mobile({
      width: 75%;
      height: auto;
      border-radius: 5px;
      margin: 0 auto;
    });
  }
  
  &__info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  
  &__name {
    font-size: 36px;
    width: 100%;
    text-align: center;
    
    .desktop({
      border-bottom: 2px solid #A7A7A7;
    });

    .mobile({
      font-size: 30px;
      font-weight: 500;
      margin: 10px 0;
    });
  }
  
  &__bio {
    font-family: Montserrat;
    font-weight: 200;
    font-size: 24px;
    line-height: 30px;
    padding: 0 20px;

    .mobile({
      padding: 0 10px;
      font-size: 16px;
      font-weight: normal;
      margin: 0 auto;
      text-align: justify;
    });
  }
}
