.technologies {
  height: calc(~"100vh - 58px");
  width:  100%;
  display: flex;
  flex-direction: row;
  min-height: 600px;

  .mobile({
    height: 100vh;
    min-height: none;
    flex-direction: column;
    justify-content: center;

    background-image:
      linear-gradient(
        rgba(0,0,0,0.88),
        rgba(0,0,0,0.88)
      ),
      url("/img/technologies.webp");
    background-size: cover;
  });

  &__dark-col {
    --gradient-positon: 45%;
    --angle: 75deg;
    height: 100%;
    width: 70%;
    background-image:
      linear-gradient(
        var(--angle),
        rgba(20,19,19,1) 0%,
        rgba(10,10,10,0) 0%,
        rgba(5,5,5,0) var(--gradient-positon),
        rgba(5,5,5,0.88) calc(~"var(--gradient-positon) + 1%"),
        rgba(0,0,0,0.88) 100%
      ),
      url("/img/technologies.webp");
    background-size: cover;
    padding-top: 0;

    .mobile({
      background: transparent;
      width: 100%;
      height: auto;
    });
  }
  
  &__light-col {
    display: flex;
    flex-direction: column;

    .desktop({
      height: 100%;
      width: 30%;
      background-color: #f1f1f1;
      padding-top: 150px;
      background-image: linear-gradient(90deg, black, transparent);
      background-size: 4px 100%;
      background-repeat: no-repeat;
    });

    .mobile({
      background: none;
      width: 100%;
      height: auto;
    });
  }
  
  &__text {
    font-size: 60px;
    color: #ffffff;
    --overlap: -30px;

    .mobile({
      font-size: 28px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
    });

    .desktop({
      mix-blend-mode: difference;
    });

    &_left {
      .desktop({
        text-align: right;
        margin-right: var(--overlap);
      });

      .mobile({
        margin-top: 50px;
        margin-bottom: 0;
      });
    }
    
    &_right {
      .desktop({
        text-align: left;
        margin-left: var(--overlap);
        margin-bottom: 10px
      });

      .mobile({
        margin-top: 0;
        margin-bottom: 60px;
      });
    }
    
    &-line {
      padding: 0 20px;
      text-align: center;
      font-size: 29px;
      margin: 0;
      font-weight: normal;

      .mobile({
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
      });
    }
  }
  
  &__button {
    --gradient-angle: 90deg;
    height: 70px;
    line-height: 70px;
    max-width: calc(~"100% - 40px");
    width: 250px;
    padding: 0 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px auto 40px auto;
    color: #dadada;
    background-image: linear-gradient(var(--gradient-angle), #316BAF 0%, #52268B 50%, #316BAF 100%);
    background-size: 200% 100%;
    background-position-x: 0%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    letter-spacing: 1.5px;
    transition-property: background-image;
    transition-timing-function: ease;
    transition-duration: 1s;

    &:hover {
      opacity: 1;
      background-position-x: 50%;
    }
  }
  
  &__spacer {
    flex-grow: 1;
  }
}
