{% extends "../particials/layout_ru.njk" %}

{% block pageTitle %}
  Партнеры
{% endblock %}

{% set current_page_path = "/partners" %}

{% block content %}
  <div class="partners">
    <img class="partners__logo" alt="partner logo" src="/img/amd.webp">
    <img class="partners__logo" alt="partner logo" src="/img/nvidia.webp">
    <img class="partners__logo" alt="partner logo" src="/img/intel.webp">
    <img class="partners__logo" alt="partner logo" src="/img/microsoft.webp">
    <img class="partners__logo" alt="partner logo" src="/img/ubisoft.webp">
    <img class="partners__logo" alt="partner logo" src="/img/tangent.webp">
    <img class="partners__logo" alt="partner logo" src="/img/embark.webp">
    <img class="partners__logo" alt="partner logo" src="/img/unity.webp">
  </div>
{% endblock %}
