{% extends "layout.njk" %}

{% block content %}
  <div class="hero">
    <h1 class="hero__headline">
      О ПРОЕКТЕ
    </h1>
    <p class="hero__text">
      Конференция важна для нас прежде всего
      потому, что это воодушевляет новых
      потенциальных специалистов на развитие
      современных технологий и собственных
      стартапов.
    </p>
    <p class="hero__text">
      Именно поэтому доступ к материалам конференции ICTTW абсолютно
    </p>
    <p class="hero__big-text">
      СВОБОДНЫЙ
    </p>
  </div>
{% endblock %}
