{% extends "../particials/layout.njk" %}

{% block pageTitle %}
  Главная
{% endblock %}

{% block content %}
  <div class="landing">
    <div class="landing__wrapper">
      <h1 class="landing__headline"> 
        INTERNATIONAL CONFERENCE
        OF TECHNOLOGY IN TODAY’S WORLD
      </h1>
      <hr class="landing__line">
      <h2 class="landing__subheadline">
          Conference both in contact &amp; ONLine formats
      </h2>
      <p class="landing__text">
          Одна из крупнейших ежегодных конференций в 
          Франкфурте о маркетинге, дизайне, кодировании,
          робототехнике, SaaS, Big Data и создании контента от 
          лучших мировых спикеров.
      </p>
      <a href="#" class="landing__button">
        <img alt="" src="img/button.png" class="landing__icon">
        КОНФЕРЕНЦИЯ В ОНЛАЙНЕ
      </a>
    </div>
  </div>
{% endblock %}
