{% extends "../particials/layout.njk" %}

{% block pageTitle %}
  Главная
{% endblock %}

{% block content %}
  <div class="landing">
    <div class="landing__wrapper">
      <h1 class="landing__headline"> 
        INTERNATIONAL CONFERENCE
        OF TECHNOLOGY IN TODAY’S WORLD
      </h1>
      <hr class="landing__line">
      <h2 class="landing__subheadline">
          Conference both in contact &amp; ONLine formats
      </h2>
      <p class="landing__text">
          Одна из крупнейших ежегодных конференций в 
          Франкфурте о маркетинге, дизайне, кодировании,
          робототехнике, SaaS, Big Data и создании контента от 
          лучших мировых спикеров.
      </p>
      <a href="#" class="landing__button">
        <img alt="" src="/img/button.webp" class="landing__icon">
        КОНФЕРЕНЦИЯ В ОНЛАЙНЕ
      </a>
    </div>
  </div>

  <div class="technologies">
    <div class="technologies__dark-col">
      <h1 class="technologies__text technologies__text_left">
        Современные<br class="desktop-only"> технологии
      </h1>
    </div>
    <div class="technologies__light-col">
      <h2 class="technologies__text technologies__text_right">
        Для<br class="desktop-only"> Всех
      </h2>
      <div class="technologies__spacer"></div>
      <p class="technologies__text-line">
        Успей записаться на 
        конференцию ICTTW,
        чтобы услышать доклады 
        лучших мировых спикеров первым!
      </p>
      
		<div id="formContainer">
     <a href="#" class="technologies__button">
        Регистрация
      </a>
			<form id="login" method="post" action="./">
				<a href="#" id="flipToRecover" class="flipLink">Forgot?</a>
				<input type="text" name="loginEmail" id="loginEmail" value="Email">
				<input type="password" name="loginPass" id="loginPass" value="pass">
				<input type="submit" name="submit" value="Login">
			</form>
			<form id="recover" method="post" action="./">
				<a href="#" id="flipToLogin" class="flipLink">Forgot?</a>
				<input type="text" name="recoverEmail" id="recoverEmail" value="Email">
				<input type="submit" name="submit" value="Recover">
			</form>
		</div>

        <footer>
	        <h2><i>Tutorial:</i> Apple-like Login Form With CSS 3D Transforms</h2>
            <a class="tzine" href="http://tutorialzine.com/2012/02/apple-like-login-form/">Head on to <i>Tutorial<b>zine</b></i> to download this example</a>
        </footer>
        
        <!-- JavaScript includes -->
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="assets/js/script.js"></script>
      <body>
  </div>
{% endblock %}
