{% extends "../particials/layout.njk" %}

{% block content %}
  <div class="information-page">
    <div class="information-page__col">
      <p class="information-page__text">
        Пол Гарднер Аллен (англ. Paul Gardner Allen, 21 января 1953, Сиэтл, штат Вашингтон, США — 15 октября 2018, Сиэтл) — американский предприниматель,
        соучредитель корпорации Microsoft, которую он вместе со своим школьным приятелем Биллом Гейтсом основал в 1975 году. 
        Капитал Аллена в 2018 году составлял $20,3 млрд. Аллен родился в семье преподавательницы Эдны Фей Гарднер и военного Кеннета Аллена, 
        который с 1960 года работал помощником директора библиотечного комплекса Вашингтонского университета.

        Родители использовали мягкий стиль воспитания. Пол научился читать ещё до школы, с детства любил технику. 
        В четвёртом классе серьёзно занимался химией, в шестом — электроникой. В 1965 году после шестого класса Пол поступил в самую привилегированную школу Сиэтла «Лейксайд». 
        Вскоре недалеко от дома Аллена Computer Center Corporation набирала людей для тестирования компьютера PDP-10 производства корпорации Digital Equipment.
        Он и его приятели по школе проводили там всё свободное время. Позже компания Information Service Inc. заказала Полу и троим его друзьям разработать программу расчёта платёжных ведомостей на языке программирования Кобол; 
        взамен они получали бесплатное рабочее время на PDP-10. Свою компанию они назвали Lakeside Programming Group, но завершить работу не смогли.
      </p>
      <p class="information-page__text">
          Позже, когда Пол Аллен учился в колледже, Билл (Гейтс) получил работу по обработке информации от компании, изучающей транспортные потоки. 
          Для разработки аппаратного обеспечения понадобился третий компаньон — Пол Гилберт, своё объединение и устройство, для считывания дорожного трафика и составления отчёта для дорожных инженеров,
          они назвали Traf-O-Data. Название придумано Гейтсом от «jack-o’-lantern» — фонаря-тыквы. Для разработки программы под Intel 8008 пришлось эмулировать его на более мощном компьютере IBM 360. 
          25 декабря 1972 г. 
  
          Бад Пемброк, который пригласил Пола и Билла работать на Information Service Inc., позвал их работать в компанию TRW, 
          где разрабатывался большой программный проект для Бонневильского энергетического управления. Устройство Traf-O-Data продавалось с 1972 по 1982 гг. и в итоге на счету компании осталось 794,31 $. В 1974 г. 
          Аллен бросил колледж и устроился в Honeywell.
      </p>
    </div>
  <div class="information-page__col">
    <img src="img/Paul Allen1.png" width="400px" height="500px" class="information-page__photo">
    <div class="social-buttons">
      <a href="#"><img src="img/photo4.png" class="social-buttons__icon"></a>
      <a href="#"><img src="img/photo5.png" class="social-buttons__icon"></a>
      <a href="#"><img src="img/photo6.png" class="social-buttons__icon"></a>
    </div>
  </div>
  </div>
{% endblock %}
