{% extends "../particials/layout.njk" %}

{% block content %}
  <div class="information-page">
      <div class="information-page__col">
        <p class="information-page__text">
          Гордон Эрл Мур — почётный председатель совета директоров и основатель корпорации Intel, основоположник «закона Мура». Гордон Мур родился в городе Пескадеро, Калифорния, в семье заместителя шерифа округа.
          На первом и втором курсах Мур учился в государственном университете Сан-Хосе, где встретил свою будущую жену Бетти. В 1950 году получил степень бакалавра химии в Калифорнийском университете в Беркли в Калифорнии. 
          В 1954 году получил степень доктора наук в области химии и физики в Калифорнийском технологическом институте. С 1953 года работал в лаборатории прикладной физики в университете Джонса Хопкинса. 
          С 1956 года работал в Shockley Semiconductor Laboratory в Пало Альто, Калифорния, под руководством Уильяма Шокли (William Shockley). В сентябре 1957 года Мур и ещё семь талантливых инженеров (Вероломная восьмёрка) уходят из Shockley Semiconductor Laboratory из-за разногласий с Шокли и основывают собственную компанию Fairchild Semiconductor для работы с кремниевыми транзисторами в Mountain View, Калифорния. 
          С 1957 работал в Fairchild Semiconductors начальником инженерного отдела, а с 1959 Мур становится директором R&D и руководит группой по разработке n-p-n транзистора.

          В июле 1968 года Мур с Робертом Нойсом уходят из Fairchild Semiconductors и становятся основателями корпорации Intel. 
          Первое время Мур занимал должность исполнительного вице-президента. В 1975 году он был назначен президентом и главным исполнительным директором Intel. 
          Эти посты он занимал до апреля 1979 года, когда его избрали председателем совета директоров и главным исполнительным директором корпорации.
          Гордон Мур оставался в должности главного исполнительного директора корпорации до 1987 года, а в 1997 году в связи с достижением пенсионного возраста ему было присвоено звание почётного председателя совета директоров. 
          19 апреля 1965 года вывел и опубликовал так называемый «закон Мура», согласно которому количество транзисторов в кристалле микропроцессора удваивается каждый год.
          В 1975 году он изменил временную составляющую закона и заявил об удвоении количества транзисторов каждые два года. 
        </p>
        <p class="information-page__text">
          Изначально выведенный как эмпирическое правило, закон Мура со временем стал основополагающим принципом полупроводниковой отрасли, определяющим создание всё более мощных полупроводниковых микросхем со всё более низкой себестоимостью. 
          Гордон Мур является членом Американской академии искусств и наук (1990), Американской ассоциации содействия развитию науки (2003), Американского философского общества (2005), Национальной инженерной академии США, почётным членом Института инженеров по электротехнике и электронике, председателем совета попечителей Калифорнийского Технологического института.
          В 1990 году был награждён Национальной медалью за достижения в области технологий. В 2001 году Мур и его жена пожертвовали $600 млн Калифорнийскому технологическому институту, это наибольший подарок в истории из когда-либо сделанных высшему учебному заведению. 
          Гордон Мур пожелал, чтобы подарок использовался для поддержания института на передовой линии исследований и технологий. 
          В 2002 году был награждён Дж. Бушем Президентской медалью Свободы, высшей наградой для гражданских лиц. 

          Гордон Мур был награждён в 2008 году Медалью Почёта IEEE за «новаторские технические функции в обработке интегральных схем и лидерство в развитии МОП-памяти, микропроцессоров и компьютеров в полупроводниковой промышленности».
          Мур был показан в документальном фильме Something Ventured, премьера которого состоялась в 2011 году. 
          Его именем и именем жены Бетти названа библиотека в Центре Математических Наук в Кембриджском университете.
        </p>
      </div>
      <div class="information-page__col">
        <img src="img/Gordon Moore1.png" width="400px" height="500px" class="information-page__photo">
        <div class="social-buttons">
          <a href="#"><img src="img/photo4.png" class="social-buttons__icon"></a>
          <a href="#"><img src="img/photo5.png" class="social-buttons__icon"></a>
          <a href="#"><img src="img/photo6.png" class="social-buttons__icon"></a>
        </div>
      </div>
    </div>
{% endblock %}
