{% extends "../particials/layout.njk" %}

{% block content %}
  <div class="speakers-list">
    <div class="speaker">
      <img src="img/Bill Gates.png" alt="Билл Гейтс" class="speaker__photo">
      <div class="speaker__info">
        <h3 id="a1" class="speaker__name">
        <a href="information.bill_gates.html">Билл Гейтс</a>
        </h3>
        <p class="speaker__bio">
          Американский предприниматель и общественный деятель, филантроп, 
          один из создателей (совместно с Полом Алленом) и бывший крупнейший акционер компании Microsoft. 
        </p>
        <p class="speaker__bio">
          Цитаты 
            1. “ICTTW – Самый настоящий прорывной скачок в прекрасное будущее!”
            2. «Если вы думаете, что способны выполнить что-то, или думаете, что не способны на это, вы правы в обоих случаях»
        </p>
      </div>
    </div>

    <div class="speaker">
      <img src="img/Jensen Huang.png" alt="Дженсен Хуанг" class="speaker__photo">
      <div class="speaker__info">
        <h3 id="a2" class="speaker__name">
          <a href="information.jensen_huang.html">Дженсен Хуанг</a>
        </h3>
        <p class="speaker__bio">
          Aмериканский предприниматель тайваньского происхождения, сооснователь, 
          президент и главный исполнительный директор компании NVIDIA. 
        </p>
        <p class="speaker__bio">
          Цитаты
                1. «Благодаря ICTTW люди смогут прочувствовать новый уровень международных конференций ”
                2. «Важно не то, сбили ли тебя с ног, — важно то, поднялся ли ты снова»
        </p>
      </div>
    </div>

    <div class="speaker">
      <img src="img/Paul Allen.png" alt="Paul Allen" class="speaker__photo">
      <div class="speaker__info">
        <h3 id="a3"  class="speaker__name">
          <a href="information.paull_allen.html">Пол Аллен</a>
        </h3>
        <p class="speaker__bio">
          Aмериканский предприниматель, соучредитель корпорации Microsoft, 
          которую он вместе со своим школьным приятелем Биллом Гейтсом основал в 1975 году. 
        </p>
        <p class="speaker__bio">
          Цитаты
                1. “ICTTW – принципиально новое начáло международных конференций”
                2. «Слишком многие из нас не живут своими мечтами, потому что живут своими страхами»
        </p>
      </div>
    </div>

    <div class="speaker">
      <img src="img/Gordon Moore.png" alt="Speaker photo" class="speaker__photo">
      <div class="speaker__info">
        <h3 id="a4" class="speaker__name">
          <a href="information.gordon_moore.html">Гордон Мур</a>
        </h3>
        <p class="speaker__bio">
        Почётный председатель совета директоров и основатель корпорации Intel, основоположник «закона Мура». 
        </p>
        <p class="speaker__bio">
            Цитаты 
                  1. «лучшую альтернативу ICTTW люди смогут сделать еще очень нескоро”
                  2. «Отправной точкой всех достижений является желание»
        </p>
      </div>
    </div>

    <div class="speaker">
      <img src="img/Yves Guillemot.png" alt="Speaker photo" class="speaker__photo">
      <div class="speaker__info">
        <h3 id="a5" class="speaker__name">
          <a href="information.yves_guillemot.html">Ив Гиймо</a>
        </h3>
        <p class="speaker__bio">
          Генеральный директор компании Ubisoft.
        </p>
        <p class="speaker__bio">
          Цитаты 
              1. “ICTTW – наилучшее место для собрания людей с общими целями, верой в себя и потрясающими амбициями.”
              2. «Достижения нужно измерять препятствиями, которые вам пришлось преодолеть, чтобы достичь своих целей».
        </p>
      </div>
    </div>
  </div>
{% endblock %}
