{% extends "../particials/layout.njk" %}

{% block pageTitle %}
Schedule
{% endblock %}

{% block content %}
  <div class="schedule">
    <div class="schedule-shadow desktop-only"></div>
    <div class="schedule__block">
      <h1 class="schedule__headline">
        Schedule
      </h1>
      <div class="schedule__table">
        <div class="schedule__cell">
          <p class="schedule__line"> 
           Andrey Zolotov - Business in the field of IT technologies
          </p>
          <p class="schedule__line">
           Frankfurt Outer Theater - 22.05.2021, 14: 00 (GMT+3)
          </p>
        </div>
        <div class="schedule__cell">
          <p class="schedule__line">
            Bill Gates-Creating the best computer Software
          </p>
          <p class="schedule__line">
            Frankfurt Outer Theater – 22.05.2021, 15: 30 (GMT+3)
          </p>
        </div>
        <div class="schedule__cell">
          <p class="schedule__line">
           Andrey Zolotov-Subtle details of business in the niche of technological projects 
           in Game Development
          </p>
          <p class="schedule__line">
           Frankfurt Outer Theater - 22.05.2021, 19: 00 (GMT+3)
          </p>
        </div>
        <div class="schedule__cell">
          <p class="schedule__line">
            Dmitry Zhuravlev-Development and implementation of free software for programming
          </p>
          <p class="schedule__line">
           Frankfurt Outer Theater - 24.05.2021, 10: 00 (GMT+3)
          </p>
        </div>
        <div class="schedule__cell">
          <p class = "schedule__line">
           Jensen Huang-creating a solid structure of a techno-graphic company
          </p>
          <p class="schedule__line">
           Frankfurt Outer Theater - 24.05.2021, 11: 45 (GMT+3)
          </p>
        </div>
        <div class="schedule__cell">
          <p class = "schedule__line">
           Gordon Moore - strategy for success in the IT business of development
          </p>
          <p class="schedule__line">
            Frankfurt Outer Theater - 25.05.2021, 14: 15 (GMT+3)
          </p>
        </div>
        <div class="schedule__cell">
          <p class = "schedule__line">
          Alyona Popova-Design for the most modern companies
          </p>
          <p class="schedule__line">
           Frankfurt Outer Theater - 26.05.2021, 14: 00 (GMT+3)
          </p>
        </div>
        <div class="schedule__cell">
          <p class = "schedule__line">
             Yves Guillemot – how to start developing the latest technological product. The importance of team cohesion
          </p>
          <p class="schedule__line">
           Frankfurt Outer Theater - 27.05.2021, 20: 00 (GMT+3)
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
