{% extends "../particials/layout_ru.njk" %}

{% block pageTitle %}
  Спикеры
{% endblock %}

{% set current_page_path = "/speakers" %}

{% block content %}
  <div class="speakers-list">
    <div class="speaker">
      <img src="/img/Bill Gates.webp" alt="Билл Гейтс" class="speaker__photo">
      <div class="speaker__info">
        <h3 id="a1" class="speaker__name">
        <a href="/information.bill_gates">Билл Гейтс</a>
        </h3>
        <p class="speaker__bio">
          Американский предприниматель и общественный деятель, филантроп, 
          один из создателей (совместно с Полом Алленом) и бывший крупнейший акционер компании Microsoft. 
        </p>
        <p class="speaker__bio"> 
             “ICTTW – Самый настоящий прорывной скачок в прекрасное будущее!”
             «Если вы думаете, что способны выполнить что-то, или думаете, что не способны на это, вы правы в обоих случаях»
        </p>
      </div>
    </div>

    <div class="speaker">
      <img src="/img/Jensen Huang.webp" alt="Дженсен Хуанг" class="speaker__photo">
      <div class="speaker__info">
        <h3 id="a2" class="speaker__name">
          <a href="/information.jensen_huang">Дженсен Хуанг</a>
        </h3>
        <p class="speaker__bio">
          Aмериканский предприниматель тайваньского происхождения, сооснователь, 
          президент и главный исполнительный директор компании NVIDIA. 
        </p>
        <p class="speaker__bio">
              «Благодаря ICTTW люди смогут прочувствовать новый уровень международных конференций ”
              «Важно не то, сбили ли тебя с ног, — важно то, поднялся ли ты снова»
        </p>
      </div>
    </div>

    <div class="speaker">
      <img src="/img/Paul Allen.webp" alt="Paul Allen" class="speaker__photo">
      <div class="speaker__info">
        <h3 id="a3"  class="speaker__name">
          <a href="/information.paull_allen">Пол Аллен</a>
        </h3>
        <p class="speaker__bio">
          Aмериканский предприниматель, соучредитель корпорации Microsoft, 
          которую он вместе со своим школьным приятелем Биллом Гейтсом основал в 1975 году. 
        </p>
        <p class="speaker__bio">
               “ICTTW – принципиально новое начáло международных конференций”
               «Слишком многие из нас не живут своими мечтами, потому что живут своими страхами»
        </p>
      </div>
    </div>

    <div class="speaker">
      <img src="/img/Gordon Moore.webp" alt="Speaker photo" class="speaker__photo">
      <div class="speaker__info">
        <h3 id="a4" class="speaker__name">
          <a href="/information.gordon_moore">Гордон Мур</a>
        </h3>
        <p class="speaker__bio">
        Почётный председатель совета директоров и основатель корпорации Intel, основоположник «закона Мура». 
        </p>
        <p class="speaker__bio">
                 «Лучшую альтернативу ICTTW люди смогут сделать еще очень нескоро”
                 «Отправной точкой всех достижений является желание»
        </p>
      </div>
    </div>

    <div class="speaker">
      <img src="/img/Yves Guillemot.webp" alt="Speaker photo" class="speaker__photo">
      <div class="speaker__info">
        <h3 id="a5" class="speaker__name">
          <a href="/information.yves_guillemot">Ив Гиймо</a>
        </h3>
        <p class="speaker__bio">
          Генеральный директор компании Ubisoft.
        </p>
        <p class="speaker__bio">
              “ICTTW – наилучшее место для собрания людей с общими целями, верой в себя и потрясающими амбициями.”
              «Достижения нужно измерять препятствиями, которые вам пришлось преодолеть, чтобы достичь своих целей».
        </p>
      </div>
    </div>
  </div>
{% endblock %}
