{% extends "../particials/layout_ru.njk" %}

{% block pageTitle %}
  Расписание
{% endblock %}

{% set current_page_path = "/schedule" %}

{% block content %}
  <div class="schedule">
    <div class="schedule-shadow desktop-only"></div>
    <div class="schedule__block">
      <h1 class="schedule__headline">
        Расписание
      </h1>
      <div class="schedule__table">
        <div class="schedule__cell">
          <p class="schedule__line"> 
            Андрей Золотов - Бизнес в сфере IT технологий
          </p>
          <p class="schedule__line">
            Франкфуртский внешний театр - 22.05.2021, 14:00 (GMT+3)
          </p>
        </div>
        <div class="schedule__cell">
          <p class="schedule__line">
            Билл Гейтс – Создание наилучшего компьютерного обеспечения
          </p>
          <p class="schedule__line">
            Франкфуртский внешний театр – 22.05.2021, 15:30 (GMT+3)
          </p>
        </div>
        <div class="schedule__cell">
          <p class="schedule__line">
            Андрей Золотов - Тонкие детали бизнеса в нише технологических проектов
            in Game Development
          </p>
          <p class="schedule__line">
           Франкфуртский внешний театр - 22.05.2021, 19:00 (GMT+3)
          </p>
        </div>
        <div class="schedule__cell">
          <p class="schedule__line">
            Дмитрий Журавлёв - Разработка и внедрение бесплатных программ для программирования
          </p>
          <p class="schedule__line">
           Франкфуртский внешний театр - 24.05.2021, 10:00 (GMT+3)
          </p>
        </div>
        <div class="schedule__cell">
          <p class = "schedule__line">
            Дженсен Хуанг – создание прочной структуры техно-графической компании
          </p>
          <p class="schedule__line">
           Франкфуртский внешний театр - 24.05.2021, 11:45 (GMT+3)
          </p>
        </div>
        <div class="schedule__cell">
          <p class = "schedule__line">
         Гордон Мур – стратегия успеха в IT бизнесе разработок
          </p>
          <p class="schedule__line">
            Франкфуртский внешний театр - 25.05.2021, 14:15 (GMT+3)
          </p>
        </div>
        <div class="schedule__cell">
          <p class = "schedule__line">
          Алена Попова - Дизайн для современнейших компаний
          </p>
          <p class="schedule__line">
            Франкфуртский внешний театр - 26.05.2021, 14:00 (GMT+3)
          </p>
        </div>
        <div class="schedule__cell">
          <p class = "schedule__line">
             Ив Гиймо – с чего начать разработку новейшего технологического продукта. Важность сплочённости команды
          </p>
          <p class="schedule__line">
           Франкфуртский внешний театр - 27.05.2021, 20:00 (GMT+3)
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
