{% extends "../particials/layout.njk" %}

{% block content %}
  <div class="information-page">
    <div class="information-page__col">
      <p class="information-page__text">
        Уи́льям Ге́нри Гейтс III родился  28 октября 1955, Сиэтл, Вашингтон, более известный как Билл Гейтс  — американский предприниматель и общественный деятель, филантроп, один из создателей (совместно с Полом Алленом) 
        и бывший крупнейший акционер компании Microsoft. До июня 2008 года являлся руководителем компании;
        после ухода с поста остался в должности её неисполнительного председателя совета директоров. 
        Также является сопредседателем благотворительного Фонда Билла и Мелинды Гейтс, членом совета директоров Berkshire Hathaway, генеральным директором Cascade investment. 
        В период с 1996 по 2007 год, с 2009 по 2016 год — самый богатый человек планеты по версии журнала Forbes. 
        На 10 ноября 2020 года состояние Билла Гейтса оценивается в 119,1 млрд долларов.

        Он занимает второе место в рейтинге богатейших людей планеты, уступив основателю Amazon Джеффу Безосу. 
        Билл Гейтс является одним из рекордсменов по размеру средств, переданных на благотворительность: в период с 1994 по 2010 г. он вложил в Фонд Билла и Мелинды Гейтс более 28 млрд долларов. 
        В 2010 году Гейтс подписал «Клятву дарения» и выступил с предложением ко всем миллиардерам о передаче половины своих состояний на благотворительную деятельность. 
        Прадедушка Билла был мэром и сенатором, дедушка — вице-президентом Национального банка. 
        Гейтс родился в Сиэтле (штат Вашингтон), в семье корпоративного адвоката Уильяма Генри Гейтса II и члена совета директоров First Interstate Bank, Pacific Northwest Bell 
        и национального совета USWest, United Way Мэри Максвелл Гейтс. В семье у Билла прозвище Трей (слово «trey» обозначает тройку в карточных играх и в связано с «номерной» приставкой к имени). 
        У Гейтса есть 2 сестры: старшая — Кристи и младшая — Либби. Гейтс учился в самой привилегированной школе Сиэтла «Лейксайд», 
        где он смог развить свои навыки программирования на школьном мини-компьютере. 
      </p>
      <p class="information-page__text">
        Тогда мне было пятнадцать-шестнадцать лет…» В 17 лет Гейтс, Пол Аллен и Пол Гилберт основали компанию Traf-O-Data. 
        Название придумано Гейтсом от «jack-o’-lantern» — фонаря-тыквы. Цель компании была в создании счётчиков для считывания дорожного движения
        и составления отчётов для дорожных инженеров. Устройство Traf-O-Data продавалось 1972 по 1982 гг. 
        На этом проекте Гейтс и Аллен заработали 20 тысяч долларов. 25 декабря 1972 г. (Рождество Христово) Бад Пемброк, тот что пригласил Билла и Пола работать на Information Service Inc., 
        пригласил их работать в компанию TRW. Затевался большой программный проект для Бонневильского энергетического управления, где использовался PDP-10.
      </p>
    </div>
    <div class="information-page__col">
      <img src="/img/Bill Gates2.webp" width="680px" height="500px" class="information-page__photo">
      <div class="social-buttons">
        <a href="#"><img src="/img/photo4.webp" class="social-buttons__icon"></a>
        <a href="#"><img src="/img/photo5.webp" class="social-buttons__icon"></a>
        <a href="#"><img src="/img/photo6.webp" class="social-buttons__icon"></a>
      </div>
    </div>
  </div>
{% endblock %}
