{% extends "../particials/layout_en.njk" %}

{% block pageTitle %}
  Speakers
{% endblock %}

{% set current_page_path = "/speakers" %}

{% block content %}
  <div class="speakers-list">
    <div class="speaker">
      <img src="/img/Bill Gates.webp" alt="Bill Gates" class="speaker__photo">
      <div class="speaker__info">
        <h3 id="a1" class="speaker__name">
        <a href="/en/information.bill_gates">Bill Gates</a>
        </h3>
        <p class="speaker__bio">
          American entrepreneur and public figure, philanthropist,
          one of the founders (together with Paul Allen) and former largest shareholder of Microsoft.
        </p>
        <p class="speaker__bio">
            "ICTTW is a real breakthrough leap into a wonderful future!
            "If you think that you are able to do something, or you think that you are not able to do it, you are right in both cases"
        </p>
      </div>
    </div>

    <div class="speaker">
      <img src="/img/Jensen Huang.webp" alt="Jensen Huang" class="speaker__photo">
      <div class="speaker__info">
        <h3 id="a2" class="speaker__name">
          <a href="/en/information.jensen_huang">Jensen Huang</a>
        </h3>
        <p class="speaker__bio">
         American entrepreneur of Taiwanese origin, co-founder, president and CEO of NVIDIA.
        </p>
        <p class="speaker__bio">
           "Thanks to ICTTW, people will be able to experience a new level of international conferences "
           "It's not important whether you were knocked down — it's important whether you got up again"
        </p>
      </div>
    </div>

    <div class="speaker">
      <img src="/img/Paul Allen.webp" alt="Paul Allen" class="speaker__photo">
      <div class="speaker__info">
        <h3 id="a3"  class="speaker__name">
          <a href="/en/information.paull_allen">Paul Allen</a>
        </h3>
        <p class="speaker__bio">
          American entrepreneur, co-founder of Microsoft Corporation,
          which he and his school friend Bill Gates founded in 1975.
        </p>
        <p class="speaker__bio">
            "ICTTW is a fundamentally new beginning of international conferences”
            "Too many of us don't live our dreams because we live our fears" 
        </p>
      </div>
    </div>

    <div class="speaker">
      <img src="/img/Gordon Moore.webp" alt="Gordon Moore" class="speaker__photo">
      <div class="speaker__info">
        <h3 id="a4" class="speaker__name">
          <a href="/en/information.gordon_moore">Gordon Moore</a>
        </h3>
        <p class="speaker__bio">
        Honorary Chairman of the Board of Directors and founder of Intel Corporation, the founder of"Moore's Law".
        </p>
        <p class="speaker__bio">
             "It will be a very long time before people will be able to make a better alternative to ICTTW"
             "The starting point of all achievements is desire"
        </p>
      </div>
    </div>

    <div class="speaker">
      <img src="/img/Yves Guillemot.webp" alt="Yves Guillemot" class="speaker__photo">
      <div class="speaker__info">
          <h3 id="a5" class="speaker__name">
          <a href="/en/information.yves_guillemot">Yves Guillemot</a>
        </h3>
        <p class="speaker__bio">
          CEO of Ubisoft.
        </p>
        <p class="speaker__bio">
               "ICTTW is the best place to gather people with common goals, self-belief and amazing ambitions.
               "Achievements should be measured by the obstacles that you had to overcome in order to achieve your goals."
        </p>
      </div>
    </div>
  </div>
{% endblock %}
