{% extends "../particials/layout_ru.njk" %}

{% block pageTitle %}
  Personal page
{% endblock %}

{% set current_page_path = "/personal-page" %}

{% block content %}
  <div class="personal-page"></div>
  <div class="personal-info">
    <p class="personal-info__text">
    “ICTTW - потрясающее будущее технических 
    конференций” (с) Дмитрий Журавлев
    </p>
  </div>
{% endblock %}


