{% extends "../particials/layout.njk" %}

{% block content %}
  <div class="personal-page"></div>
  <div class="personal-info">
    <p class="personal-info__text">
    “ICTTW - потрясающее будущее технических 
    конференций” (с) Дмитрий Журавлев
    </p>
  </div>
{% endblock %}


