<header class="header">
  <a href="/" class="header__logo">
    ICTTW
  </a>

  <a href="#menu" class="header__menu-button mobile-only">
    MENU
  </a>

  <nav id="menu" class="navigation">
    <a class="navigation__link" href="/partners">Партнеры</a>
    <a class="navigation__link" href="/schedule">Расписание</a>
    <a class="navigation__link" href="/speakers">Спикеры</a>

    <a href="#" class="navigation__lang-button desktop-only">
      <img
        src="/img/lang.webp"
        alt="Language selector"
        class="navigation__lang-image"
      >
    </a>

    <a class="navigation__link mobile-only" href="#">Закрыть меню</a>
  </nav>
</header>