<header class="header">
  <a href="index.html" class="header__logo">
    ICTTW
  </a>
  <nav class="navigation">
    <a class="navigation__link" href="partners.html">Партнеры</a>
    <a class="navigation__link" href="schedule.html">Расписание</a>
    <a class="navigation__link" href="speakers.html">Спикеры</a>

    <a href="#" class="navigation__lang-button">
      <img
        src="img/lang.png"
        alt="Language selector"
        class="navigation__lang-image"
      >
    </a>
  </nav>
</header>