<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>ICTTW: {% block pageTitle %}{% endblock %}</title>
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      {% include "header.njk" %}

      {% block content %}{% endblock %}

      {% include "footer.njk" %}
  </body>
</html>