<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>TODO: title</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="container">
      {% include "header.njk" %}

      {% block content %}{% endblock %}

      {% include "footer.njk" %}
  </body>
</html>